  
<div class="col-sm-8 blog-main">
	<%= paginate  @blogs  %>
	<%= render @blogs %>
	<%= paginate  @blogs  %>
	<%= link_to 'Go Top', blogs_path, class: 'form-back btn btn-primary'  
	%>

	<%= link_to "Delete article", @article, remote: true, method: :delete %>
</div>

