<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name ='keywords' content="<%= @seo_keywords %>"/>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'blogs', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
       <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <%= render 'layouts/shared/nav' %>

        <%= yield %>
  </body>
</html>
