<!DOCTYPE html>
<html>
<head>
  <title><%= @title %></title>
  <meta name ='keywords' content="<%= @seo_keywords %>"/>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'portfolios', media: 'all', 'data-turbolinks-track': 'reload' %>
</head>

<body>
 <div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">
      <%= render 'layouts/shared/application_nav'%>
      
      <%= credentials_validation 'nav' %>
      
      <%= yield %>

      <%= render 'layouts/shared/application_footer'%>

      <%= source_helper("portfolio") %>
    </div>
  </div>
</div>


</body>
</html>
